<%- include ('../../partials/head') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../../partials/navigation') %>

  <main>
    <form class="product-form" action="/admin/update-product/<%= product.id %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <% console.log("Product in this ===> ", product) %>
        <input type="text" value="<%= product.title %>" name="title" id="title">
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input type="text" value="<%= product.image_url %>" name="image_url" id="imageUrl">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="<%= product.price %>">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><%= product.description %></textarea>
      </div>

      <button class="btn" type="submit">Update Product</button>
    </form>
  </main>
</body>

</html>